<?xml version="1.0" encoding="UTF-8" ?>

<configuration xmlns="http://ch.qos.logback/xml/ns/logback" debug="false">

  <appender name="STDERR"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %logger %level: %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <logger name="com.io7m.blackthorne" level="DEBUG"/>

  <root level="TRACE">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
